.studentInfo {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .studentInfo span {
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .repo {
    margin-top: 20px;
  }
  
  .repo span {
    font-weight: bold;
    color: #555;
  }
  
  .repo a {
    display: inline-block;
    margin-top: 5px;
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
  }
  
  .repo a:hover {
    text-decoration: underline;
    color:rgb(87, 224, 87);
  }
  